.p {
    margin: 55px;
    display: flex;
    flex-direction: column;
    width: 450px;
    position: relative;
    right: -90px;
}

.a {
    background-color: rgb(230, 247, 255);
}

.loc {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    position: relative;
}