.example-spacer {
    flex: 1 1 auto;
}

.search {
    right: 1000px;
    left: 500px;
    position: absolute;
    display: flex;
}

.searchIcon {
    right: 1000px;
    left: 470px;
    position: absolute;
    display: flex;
}

.add-button {
    right: 1000px;
    left: 1000px;
    position: absolute;
}

.btn {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}