.btn {
    left: 120px;
    right: -1000px;
    background-color: #bbcecf;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 15px;
    margin: 4px 20px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    overflow-x: hidden !important;
    white-space: pre-wrap !important;
    overflow: ellipsis;
    word-wrap: break-word;
    justify-content: space-around;
    width: 90px;
    /*width: fit-content;*/
    position: relative;
    float: left;
    margin: 15px;
}

.p {
    padding: 50%;
    margin-bottom: 20%;
    margin: 8px;
}